{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}
{% load i18n %}

{% block modal_id %}clear-fields-modal{% endblock %}
{% block modal_title %}Clear Fields{% endblock %}

{% block modal_body %}
Are you sure you want to reset the {% trans "form_label" %}? All your changes will be lost.
{% endblock %}

{% block modal_footer %}
<a class="btn btn-default pull-left" data-dismiss="modal" href="#"><i class="fa fa-times"></i> Cancel</a>
<a id="btn-clear-fields" class="btn btn-danger">
    <i class="fa fa-eraser"></i> Clear fields
</a>
{% endblock %}