{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}download-modal{% endblock %}
{% block modal_title %}Download{% endblock %}

{% block modal_body %}
<div class="center-text">
    <a href="{% url 'core_curate_download_xsd' data.data_structure.id %}" class="btn btn-primary">
        <i class="fa fa-file-code-o"></i> Download Template
    </a>
    <a href="{% url 'core_curate_download_xml' data.data_structure.id %}" class="btn btn-success">
        <i class="fa fa-file-text-o"></i> Download Document
    </a>
</div>

{% endblock %}

{% block modal_footer %}
<a class="btn btn-default pull-left" data-dismiss="modal" href="#"><i class="fa fa-times"></i> Cancel</a>
{% endblock %}