{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}xml-valid-modal{% endblock %}
{% block modal_title %}Validation Successful{% endblock %}

{% block modal_body %}
<div class="alert alert-warning">
  <strong>Warning!</strong> Please save the form before proceeding to review. All unsaved changes will be lost.
</div>
The form is valid. You can now proceed to the Review page.
{% endblock %}

{% block modal_footer %}
<a class="btn btn-default pull-left" data-dismiss="modal" href="#"><i class="fa fa-times"></i> Cancel</a>
<a class="btn btn-default" href="{% url 'core_curate_view_data' data.data_structure.id %}">
    <i class="fa fa-check"></i> Proceed to Review
</a>
{% endblock %}